*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    height: 100%;
    width: 100%;
}
.nav{
    height: 70px;
    width: 100%;
    /* background-color: lightblue; */
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    /* height: 100%; */
    width: 40%;
    /* border: 1px solid #000; */
    text-align: center;
}
a{
    text-decoration: none;
}

.text{
    /* height: 100%; */
    width: 40%;
    /* border: 1px solid #000; */
    text-align: center;
}
.text a{
    color: #000;
    letter-spacing: 1px;
}

.bg_img_main{
    height: 600px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
}
.one_bg{
    height: 600px;
    width: 40%;
    /* border: 1px solid #000; */
}
.one_bg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.two_bg{
    /* height: 600px; */
    width: 18%;
    /* border: 1px solid #000;  */
    background-color: #fcc133;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 50px;
     font-size: 40px;
     font-weight: 700;
     line-height:80px;
}
.two_bg h2{
    font-family: "Permanent Marker", cursive;

}
.three_bg{
    /* height: 600px; */
    width: 40%;
    /* border: 1px solid #000;  */
}
.three_bg img{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}
.healthier_main{
    /* height: 520px; */
    width: 100%;
    background-color: #292930;
    display: flex;
    justify-content: space-evenly;
}
.healthier{
    position: relative;
    /* height: 500px; */
    width: 27%;
    /* border: 1px solid #fff; */
    
}
.text1{
    color: #fff;
    position: absolute;
    bottom: 0;
    font-size: 30px;
    /* line-height: 55px; */
    padding: 35px;
    text-align: end;
}
.text1 h2{
    font-family: "Permanent Marker", cursive;
    
}
.healthier1{
    /* height: 500px; */
    width: 27%;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.healthier1_img{
    /* height: 70%;s */
    width: 50%;
    /* border: 1px solid darkgoldenrod; */
}
.healthier1_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.healthier2{
    height: 500px;
    width: 26%;
    /* border: 1px solid #fff; */
    background-color: #fcc133;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.healthier2_text{
    text-align: start;
    letter-spacing: 1px;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    
}
.Healthy_recipes_main_bg_img{
    height: 720px;
    width: 100%;
    /* background-color: bisque; */
    background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/8cc4cc79b3e85baf8723f998/pexelsphoto1639563.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.Breakfast1{
    margin-top: 30px;
    margin-left: 80px;
    height: 300px;
    width: 22%;
    border: 8px solid #fcc133;
    
}
.Breakfast1{
    display: flex;
    justify-content: center;
    align-items: center;
   text-align: center;
}
.Breakfast1_text{
    color: #fff;
    /* line-height: 30px; */
    /* font-weight: 600; */
}
.Breakfast1_text h2{
    font-size: 28px;
}
.Breakfast1_text p{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 15px;
    line-height: 25px;
}
.Breakfast1_text a{
    color: #fff;
    text-decoration:underline;
    font-size: 17px;
    letter-spacing: 1px;
}
.Breakfast2{
    height: 330px;
    width: 22%;
    background-color: #fcc133;
    color: #000;
    margin-top: 30px;
    margin-left: 80px;
}
.Breakfast2{
    display: flex;
    justify-content: center;
    align-items: center;
   text-align: center;
}
.Breakfast2 h2{
    font-size: 27px;
    letter-spacing: 1px;
    /* padding: 15px; */
}
.Breakfast2 p{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 15px;
    line-height: 25px;
}
.Breakfast2 a{
    color: #000;
    text-decoration:underline;
    font-size: 17px;
    letter-spacing: 1px;
}

.Fresh_Food_main{
    /* height: 400px; */
    width: 100%;
    background-color: #292930;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Fresh_Food{
    height: 300px;
    width: 80%;
    /* border: 2px solid darkgreen; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Cafe{
    height: 100%;
    /* border: 1px solid #fcc133; */
    width: 40%;
    color: #fff;
    /* text-align: center; */
    padding: 45px;
  
}
.Cafe h2{
    font-size: 45px;
    letter-spacing: 1px;
    font-family: "Permanent Marker", cursive;
}
.Cafe p{
    margin-top: 14px;
   letter-spacing: 1px;
   line-height: 22px;
}
.icons{
    margin-top: 20px;
    font-size: 32px;
    color: #fcc133;
    /* margin: 0px 10px; */
}

 .icons i{
    border-radius: 50%;
    border: 1px solid white;
    padding: 7px;
}
.OUR_MENU{
    height: 100%;
    width: 45%;
    /* border: 1px solid #fcc133; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.OUR_MENU i{
    color: #fcc133;
     font-size: 75px;
     margin-bottom: 18px;
}
.OUR_MENU p{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.tastiest_main{
    /* position: relative; */

    /* height: 600px; */
    width: 100%;
    /* background-color: #fcc133; */
}
.tastiest_bg_img{
    height: 600px;
    background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/808f86fbe4b25bd1830f78a5/pexelsphoto842142.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tastiest_text{
    color: #fff;
    width: 40%;
}

@media screen and (max-width:480px){
.bg_img_main{
 display: block;
}
.one_bg{
    width: 100%;
}
.two_bg{
    width: 100%;
}
.three_bg{
    width: 100%;
}
.healthier_main{
    display: block;
}
.healthier{
    width: 100%;
}
.healthier1_img{
    width: 100%;
}
.healthier2_text{
    width: 100%;
}
.healthier1{
    width: 100%;
}
.healthier2{
    width: 100%;
}


}
    
